.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;

  span {
    width: 30px;
    height: 3px;
    display: block;
    background: #f8faf6;
  }

  span.long {
    width: 36px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;

  &.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }

  &__block {
    position: relative;
    width: 345px;
    background-color: $main-color;
    height: 100%;
    // left: -100%;
    transition: all .6s;
    padding-top: 140px;
    padding-left: 40px;
    z-index: 10;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  &__list {
    list-style-type: none;
    padding-left: 35px;
  }

  &__link {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
    &::before {
      content: '';
      position: absolute;
      left: -35px;
      top: 10px;
      width: 15px;
      height: 15px;
      border: 1px solid #f7f8f7;
      border-radius: 100%;
      transition: all 0.6s;
    }

    a {
      color: #ffffff;
    }

    &:hover {
      &::before {
        background-color: #ffffff;
      }
    }
  }

  &__social {
    position: absolute;
    width: 90px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.75;
  }
}