.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;

  &__divider {
    width: 2px;
    height: 50px;
    background-color: #e98808;
  }

  &__text {
    width: 25px;
    height: 150px;
    font-weight: bold;
    color: #e98808;
    span { 
      display: block;
      transform: rotate(-90deg) translate(-30%, -260%);
      width: 150px;
    }
  }

}